@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins&display=swap');

/* GENERAL */

h1,
h2,
h3 {
  font-family: 'Poppins', sans-serif;
}

p,
a,
input,
textarea {
  font-family: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

/* NAV */

.nav {
  margin: 0 100px;
  display: flex;
  justify-content: space-between;
  width: auto;
  height: 60px;
  border-bottom: solid 1px #f5f5f6;
}

.nav-box1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-box2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-dot {
  width: 5px;
  margin: 0 10px;
}

.nav-module {
  font-weight: 700;
  font-size: 20px;
}

.nav-version,
.nav-component-count {
  font-size: 14px;
  color: rgba(39, 41, 55, 0.75);
}
.nav-link {
  font-weight: 700;
  text-decoration: none;
  color: #000;
  margin: 0 20px;
}

.nav-link-btn a {
  color: #ffb347;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link svg {
  width: 25px;
}

/* HEADER */

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 28px;
}

.header-container__title {
  font-weight: 700;
  font-size: 64px;
  margin-bottom: 20px;
}

.header-container__subtitle {
  font-size: 24px;
  margin: 0 460px;
  text-align: center;
  margin-bottom: 14px;
}

.header-container__buttons {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
}

.header-container__buttons a {
  text-decoration: none;
}

.header-container__buttons-button1 {
  margin: 0 20px;
  border-radius: 7px;
  width: 200px;
  background-color: #ffc340;
  color: #000000;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 16px;
  height: 48px;
}

.header-container__p {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  align-items: center;
}

.header-container__p-icon {
  margin-right: 10px;
  width: 20px;
}

.header-container__p-text {
  font-size: 12px;
}

.header-container__buttons-img {
  background-color: none;
  width: 18px;
}

/* HERO IMAGE */

.hero-container {
  margin: 50px 100px 200px 100px;
  display: flex;
}

.hero-img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

/* QUIENES SOMOS */

.about-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px;
  padding-right: 300px;
}

.about-us__background {
  width: 90%;
  height: 800px;
  background-color: #ffc340;
  position: absolute;
  z-index: -1;
  left: -100px;
  border-radius: 0 10px 10px 0;
}

.about-us__img img {
  object-fit: cover;
  width: 700px;
  height: 700px;
  border-radius: 20px;
  margin-right: 100px;
}

.about-us__title {
  font-size: 60px;
  max-width: 480px;
  margin-bottom: 40px;
}

.about-us__text {
  font-size: 18px;
  max-width: 480px;
}

/* FEATURES */

.features {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 750px;
}

.features__globe-img {
  width: 420px;
  height: 420px;
  border-radius: 50%;
  margin: 0 50px;
}

.features__globe-title {
  text-align: center;
  margin-top: 16px;
}

.features__globe-text {
  text-align: center;
  font-size: 16px;
  margin-top: 16px;
}

/* BRANDS */

.brands {
  margin-top: 100px;
  height: 200px;
  background-color: #ffc340;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.brands__title {
  margin: 30px 0;
  font-size: 60px;
}

.brands__logo {
  margin: 0 30px;
}

/* CATALOGO DE PRODUCTOS */

.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 100px;
}

.products__title {
  margin: 30px 0;
  font-size: 60px;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
}

.products-container {
  display: flex;
  margin-bottom: 50px;
  justify-content: space-between;
  width: 100%;
}

.product-img {
  width: 250px;
  height: 90px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* ADDRESS */

.address {
  margin-top: 160px;
  margin-right: 100px;
  height: 800px;
  width: auto;
}

.address__title {
  text-align: center;
  font-size: 60px;
  padding-top: 50px;
}

.address__container {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.address__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.address__info-mp-container {
  margin-top: -280px;
}

.address__info-dir {
  margin-top: 15px;
  text-align: left;
  font-size: 30px;
}

.address__info-mp {
  display: flex;
  flex-direction: column;
}

.address__info-mp-logo {
  width: 36px;
  margin-top: 2px;
}

.address__info-mp-logos {
  display: flex;
  flex-direction: row;
}

.address__info-mp-title {
  margin-top: 14px;
  margin-bottom: 14px;
  text-align: left;
  font-size: 30px;
}

.address__map {
  width: 100%;
  margin-left: 300px;
}

.address__map iframe {
  border-radius: 20px;
  border: 2px solid #000000;
}

.address__background {
  width: 90%;
  left: 10%;
  height: 800px;
  background-color: #ffc340;
  position: absolute;
  z-index: -2;
  border-radius: 10px 0 0 10px;
}

/* REVIEW */

.review-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.reviews-title {
  text-align: center;
  font-size: 60px;
  padding-top: 50px;
}

.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 100px;
}

.review {
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 50px;
}

.review-img {
  width: 100px;
  object-fit: cover;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.review-score {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.review-score__star {
  width: 24px;
}

.review-score__text {
  font-weight: 700;
}

.review-name {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}

.review-text {
  text-align: center;
}

/* CONTACT */

.contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 100px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-img {
  width: 600px;
}

.contact-title {
  font-size: 40px;
  margin-bottom: 20px;
}

.contact-box {
  width: 250px;
  height: 40px;
  min-width: 40px;
  min-height: 30px;
  margin: 10px 0;
  background-color: #ffc340;
  border: 0;
  border-radius: 10px;
  padding: 0 10px;
  color: #000000;
}

.contact-message {
  width: 250px;
  height: 100px;
  min-width: 160px;
  min-height: 100px;
  max-width: 250px;
  margin-top: 10px;
  background-color: #ffc340;
  border-radius: 10px;
  padding: 10px;
  color: #000000;
}

.contact-box::placeholder {
  color: #000000;
  font-weight: 700;
}

.contact-message::placeholder {
  color: #000000;
  font-weight: 700;
}

.contact-button {
  background-image: linear-gradient(
    to right,
    #ffb347 0%,
    #ffcc33 51%,
    #ffb347 100%
  );
}

.contact-button {
  margin: 15px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #000000;
  cursor: pointer;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  font-size: 15px;
  font-weight: 700;
}

.contact-button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.footer {
  height: 400px;
  width: 100%;
  background-color: #ffb347;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer-container__1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

.footer-logo__text {
  font-size: 24px;
}

.footer-logo__text,
.footer-logo__dir,
.footer-logo__tel {
  margin: 5px 0;
}

.footer-sitemap {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}

.footer-link {
  text-decoration: none;
  font-weight: 700;
  color: #000;
  margin: 5px 0;
}

.footer-container__2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-social {
  border-bottom: solid #000 2px;
  margin: 10px 0;
}

.footer-social__img {
  width: 32px;
  margin-bottom: 20px;
}

.footer-copy {
  margin: 10px 0;
}
